* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #e2e8f0;
}

header {
  grid-column: 2 / 4;
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 100px));
  height: 200px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

header .search {
  display: flex;
  gap: 12px;
  margin: 20px;
  margin-right: 100px;
  grid-column: 1 / 3;
}

.search-icon {
  height: 30px;
}

#search-bar {
  height: 30px;
  width: 100%;
  background-color: #e2e8f0;
  border: none;
  border-radius: 20px;
}

.bell {
  grid-row: 1;
  grid-column: 3;
  border: none;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  height: 30px;
  width: 30px;
}

.bell-icon {
  height: 30px;
}

.profile {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
  display: flex;
  align-items: center;
  margin: 20px;
  text-align: center;
  height: 20px;
}

.cute-cat {
  height: 50px;
  border-radius: 50%;
}

.id {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.cute-cat-2 {
  height: 100px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  align-items: center;
  grid-column: 3;
  gap: 20px;
}

.link {
  border: none;
  background: #1992d4;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / 5;
  background-color: #1992d4;
  color: #fff;
}

.side-title {
  display: flex;
  align-items: center;
  margin: 15px;
}

.sidebar h2 {
  font-size: 40px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  font-size: 20px;
  margin: 10px 20px;
  cursor: pointer;
}

.upper {
  margin-bottom: 40px;
}
